<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--{% for photos in product_detail.image.all %}-->
<!--  <p><img class="card-img-top" src="{{ photos.image.url }}"></p>-->
<!--{% endfor %}-->
<!--</form>-->

<!--    carousel    -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
<!--   tu   -->
      {% for photos in product_detail.image.all %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active{% endif %}">
          <img src="{{ photos.image.url }}" class="d-block w-100" alt="...">
        </div>
      {% endfor %}
<!---->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


</head>
<body>

</body>
</html>